@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.homebg {
  background-image: url("../public/homebg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 1.9;
}
body {
  caret-color: aqua;
  /* change caret width */
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

html {
  scroll-behavior: smooth;
}
